$aureolin: #f7ed05ff;
$deep-jungle-green: #1b5e61ff;
$black: #000001ff;
$titanium-yellow: #f0e714ff;
$dark-jungle-green: #353535;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --animate-duration: 1300ms;
  --animate-delay: 0.9s;
}

body {
  background: $black;
  font-family: "Share Tech", sans-serif;
  min-height: 100vh;
}
.header {
  padding: 1em;
}

.container {
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
}
// Utilities
.d-block {
  display: block;
}

// TYPOGRAPHY
#rangeValue {
  font-size: 3rem;
  text-align: center;
  color: $aureolin;
  font-weight: bold;
}


.header h1 {
  font-size: 1.25rem;
  text-shadow: 0 1px $deep-jungle-green ;
  font-weight: bolder;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-secondary {
  color: $aureolin;
}
.text-primary {
  color: $deep-jungle-green;
}
.text-bold {
  font-weight: bold;
}
label {
  color: $deep-jungle-green;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0.3em 0;
}
.userInputBox {
  display: block;
  margin-top: 1em;
  width: 90%;
  background-color: $aureolin;
  border: none;
  color: $aureolin;
  margin: 0 auto;
}
.checkboxes {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.genBtn {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1em;
  font-size: 1rem;
  background: $aureolin;
  color: $deep-jungle-green;
  border: none;
  border-radius: 0.6em;
  margin: 1em 0;
  cursor: pointer;
  &:hover,&:focus {
    color: $aureolin;
    background-color: #353535;
  }
}
.pass-display {
  padding: 0.5em;
  width: 100%;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  gap: 0.7em;
  flex: 1 50%;
  background-color: $deep-jungle-green;
}

.passwords {
  background-color: $deep-jungle-green;
  // padding: 1.8em;
  border-radius: 0.3em;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
@media (min-width: 480px) {
  .pass-display {
    flex-direction: row;
  }
}
.passwordTwo {
}
.checkbox {
  // appearance: none;
}
.fa-copy {
  // display: flex;
  // align-self: center;
  // justify-self: end;
  font-size: 1.4rem;
  color: $aureolin;
  cursor: pointer;
  top: 0.8em;
  left: 12em;
}

.history{
  margin-top: 1em;
  background-color: $deep-jungle-green;
  padding: 0.5em;
  border-radius: 0.5em;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
}
.history p{
  margin-bottom: 0.5em;


}
.history h4{
  background-color: $aureolin;
  // padding: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.history h4 span {
  text-align: right;
  cursor: pointer;
}
#savedPasswords{
  display: flex;
  flex-direction: column-reverse;
}
//  #860029 #29132e #6a7e6a
